.header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: flex-start !important;

    Button{
        margin: 0 10px;
        padding: 0;

        img{
            width: 30px;
        }
    }
    // .telegram-text {
    //   @media (max-width: 600px) {
    //     display: none;
    //   }
    // }
  }
  