.header{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between;
    .language-thumb{
        width: 30px;
        height: 20px;
        color: red;
    }
}