.section-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    .box{
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        img{
            width: 60px;
            height: 60px;
            padding: 0;
        }
    }
}