.register-box{
    width: 60%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .register-heading{
        padding: 1rem;
    }
}