footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212e48;
  color: white;
  margin-top: 80px;
  padding-top: 15px;
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
}

.footer2 {
  background-color: #161f30;
  margin-top: 0px;
  padding: 0;
  min-height: 50px;
  .footercontainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
      padding: 15px;
      gap: 10px;
    }
  }
}
