footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  font-size: 18px;
  background-color: #212e48;
  margin-top: 100px;
  padding-top: 15px;
  color: white;
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}

.footer2{
  min-height: 50px ;
  background-color: #161f33;
  margin-top: 0;
}